@media(max-width:700px){
  
    .category-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        font-size: 15px;
    }
    .common-row{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 5px;
    }
    .footer-row-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        text-align: center;
    }
    .footer-row-2{
        display: flex;
        flex-direction: column;   
        text-align: center; 
    }
    .footer-row-1 a{
        font-size: 12px;
    }
    .footer-col-5, .footer-col-6{
        display: none;
    }
    .footer-col-4{
        padding-right: 0px;
    }
    .footer-heading p{
        font-size: 15px;
    }
    .footer-list{
        margin-bottom: 30px;
    }
    .footer-row2-col p{
        padding: 5px;
        font-size: 15px;
    }
}

/* navigation bar 2 */
@media(max-width:1100px){
    .nav2{
        display: block;
    }
    nav{
        display: none;
    }
    .hamburger-menu{
        display: none;
    }
}
@media(min-width:1101px){
    .nav2{
        display: none;
    }
}

@media(max-width:1000px) and (min-width:699px){
    .category-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        font-size: 15px;
    }
    .common-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .footer-col-4{
        padding-right: 20px;
    }
}


